// Web Application
web-app/node_modules/*
web-app/.eslint*
web-app/.next/*
web-app/package-lock.json

// Data Application
api/src/venv
api/src/zappa_settings.json
*.ipynb*
*.png
api/data/0_data_scraping/diffordsguide_ingredients/*
